.in{

}

.web_atom{
    width: 124px;
    height: 124px;
    border-radius: 46px;
    background: #ffffff;
    box-shadow:  14px 14px 28px #e6e6e6, -14px -14px 28px #ffffff;
}

.website_con{
    display: flex;
}