.desc{
    font-size: 20px;
    padding-top: 20px;
    color: #404040;
}

.content{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.about_title{
    flex: 0 1 auto;
    font-size: 88px;
    font-weight: 1000;

}

.desc_container{
    width: 500px;
    padding-right: 200px;
    padding-top: 400px;
}

