.desc{
    font-size: 20px;
    padding-top: 20px;
    color: #404040;
}

.content{
    display: flex;
    width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.about_title{
    flex: 0 1 auto;
    font-size: 88px;
    font-weight: 800;

}

.desc_container{
    width: 500px;
    padding-right: 200px;
    padding-top: 300px;
}


.desc_container_fangyuan_red{

    position: relative;
    left: -28px;
}


.desc_container_fangyuan_stu_qr{

    padding-top: 100px;
    padding-bottom: 200px;
    
}
