body {
    margin: 0;
    padding: 0;
    background-color: #fafbfb;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.body_div{

    min-width: 1440px;

    margin: auto;
}